<div class="card">
  <div class="card-body">
    <div class="taskboard page-height">
      <div class="taskboard-wrapper">
        <div class="taskboard-list">
          <h6 class="taskboard-header">Day Task</h6>
          <div class="taskboard-cards" [dragula]='"task-group"'>
            <div class="taskboard-task">
              <div class="taskboard-task-title">Check Swiming Pool</div>
              <small class="card-text text-muted">Check Swiming Pool water</small>
            </div>
            <div class="taskboard-task">
              <div class="taskboard-task-title">Travel checklist</div>
              <small class="card-text text-muted">Check Travel checklist .</small>
            </div>
            <div class="taskboard-task task-status-success">
              <div class="taskboard-task-title">Budget review</div>
              <small class="card-text text-muted">Check  Budget checklist</small>
            </div>
          </div>
        </div>
      </div>

      <div class="taskboard-wrapper">
        <div class="taskboard-list">
          <h6 class="taskboard-header">To Do</h6>
          <div class="taskboard-cards" [dragula]='"task-group"'>
            <div class="taskboard-task">
              <div class="taskboard-task-title">Room Cleaning</div>
              <small class="card-text text-muted">Room 201  Cleaning </small>
            </div>
            <div class="taskboard-task task-status-danger">
              <div class="taskboard-task-title">Room Cleaning</div>
              <small class="card-text text-muted">Room 203  Cleaning </small>
            </div>
            <div class="taskboard-task task-status-info">
              <div class="taskboard-task-title">Cleanup</div>
              <small class="card-text text-muted">Room 301  Cleaning </small>
            </div>
            <div class="taskboard-task">
              <div class="taskboard-task-title">Cleanup</div>
              <small class="card-text text-muted">Room 251  Cleaning </small>
            </div>
            <div class="taskboard-task">
              <div class="taskboard-task-title">Cleanup</div>
              <small class="card-text text-muted">Room 207  Cleaning </small>
            </div>
            <div class="taskboard-task task-status-success">
              <div class="taskboard-task-title">Cleanup</div>
              <small class="card-text text-muted">Room 258  Cleaning </small>
            </div>
            <div class="taskboard-task">
              <div class="taskboard-task-title">Cleanup</div>
              <small class="card-text text-muted">Room 121  Cleaning </small>
            </div>
            <div class="taskboard-task task-status-warning">
              <div class="taskboard-task-title">Cleanup</div>
              <small class="card-text text-muted">Room 230  Cleaning </small>
            </div>
            <div class="taskboard-task task-status-danger">
              <div class="taskboard-task-title">Cleanup </div>
              <small class="card-text text-muted">Room 240  Cleaning </small>
            </div>
          </div>
        </div>
      </div>

      <div class="taskboard-wrapper">
        <div class="taskboard-list">
          <h6 class="taskboard-header">In Process</h6>
          <div class="taskboard-cards" [dragula]='"task-group"'>
            <div class="taskboard-task">
              <div class="taskboard-task-title">Parking 5 Clean up</div>
              <small class="card-text text-muted">Parking 5 Clean up</small>
            </div>
            <div class="taskboard-task task-status-warning">
              <div class="taskboard-task-title">Swiming Pool 3 Cleanup</div>
              <small class="card-text text-muted">Swiming Pool 3 Cleanup</small>
            </div>
            <div class="taskboard-task">
              <div class="taskboard-task-title">Swiming Pool 5 Cleanup</div>
              <small class="card-text text-muted">Swiming Pool 5 closed for maintainace </small>
            </div>
            <div class="taskboard-task">
              <div class="taskboard-task-title">Cleanup</div>
              <small class="card-text text-muted">Room 207  Cleanup </small>
            </div>
            <div class="taskboard-task task-status-info">
              <div class="taskboard-task-title">Watering Garden</div>
              <small class="card-text text-muted">Watering Garden 3. and 9</small>
            </div>
            <div class="taskboard-task">
              <div class="taskboard-task-title">Car 5 on Maintainance </div>
              <small class="card-text text-muted">Car 5 on Maintainance</small>
            </div>
          </div>
        </div>
      </div>

      <div class="taskboard-wrapper">
        <div class="taskboard-list">
          <h6 class="taskboard-header">In Review</h6>
          <div class="taskboard-cards" [dragula]='"task-group"'>
            <div class="taskboard-task">
              <div class="taskboard-task-title">Gate2  Color paint</div>
              <small class="card-text text-muted">Gate2  Color paint</small>
            </div>
   
            <div class="taskboard-task">
              <div class="taskboard-task-title"> Hall 2 Color paint</div>
              <small class="card-text text-muted">new Hall 2 Color paint</small>
            </div>
          </div>
        </div>
      </div>

      <div class="taskboard-wrapper">
        <div class="taskboard-list">
          <h6 class="taskboard-header">Done</h6>
          <div class="taskboard-cards" [dragula]='"task-group"'>
            <div class="taskboard-task task-status-info">
              <div class="taskboard-task-title">New Coffee Store</div>
              <small class="card-text text-muted">New Coffee Store almost done.</small>
            </div>
            <div class="taskboard-task">
              <div class="taskboard-task-title">Build HAll 5</div>
              <small class="card-text text-muted">Hall 5 Building is complete</small>
            </div>
            <div class="taskboard-task">
              <div class="taskboard-task-title">Facebook Prmomotions Ends </div>
              <small class="card-text text-muted">Facebook Prmomotions Ends .</small>
            </div>
            <div class="taskboard-task">
              <div class="taskboard-task-title">CSR winter</div>
              <small class="card-text text-muted">winter CSR Done</small>
            </div>
            <div class="taskboard-task task-status-warning">
              <div class="taskboard-task-title">Email server setup</div>
              <small class="card-text text-muted">Email server setup.</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>