
<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header bg-info">
                <h4 class="m-b-0 text-white"> Room Booking</h4>
            </div>
            <form action="#">
                <div class="card-body">
                    <h4 class="card-title">Person Info</h4>
                </div>
                <hr>
                <div class="form-body">
                    <div class="card-body">
                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">First Name</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="John doe">
                                    </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Last Name</label>
                                    <input type="text" id="lastName" class="form-control "
                                        placeholder="doe">
                                    </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->

                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Phone Number</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="+20456 xxxx xxx">
                                    </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <input type="text" id="lastName" class="form-control "
                                        placeholder="joe@ymail.com">
                                    </div>
                            </div>
                            <!--/span-->
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group has-success">
                                    <label class="control-label">Gender</label>
                                    <select class="form-control custom-select">
                                        <option value="">Male</option>
                                        <option value="">Female</option>
                                    </select>
                                    <small class="form-control-feedback"> Select  gender </small> </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Date of Birth</label>
                                    <input type="date" class="form-control">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Select Post</label>
                                    <select class="form-control custom-select" data-placeholder="Choose a Room"
                                        tabindex="1">
                                        <option value="Room -111">CEO </option>
                                        <option value="Room -112">Manager </option>
                                        <option value="Room -113">Assistant Manager</option>
                                        <option value="Room -114">Receptionist</option>
                                        <option value="Room -113">Lobby Boy</option>
                                        <option value="Room -114">Room Keeper</option>
                                        <option value="Room -113">Pakring Guard</option>
                                        <option value="Room -114">Security Guard</option>
                                    </select>
                                    <small class="form-control-feedback"> Select  a Post </small> 
                                </div>
                            </div>
         
                        </div>
                        <!--/row-->


                        <h4 class="card-title m-t-40">Address</h4>
                    </div>
                    <hr>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="form-group">
                                    <label>Street</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>City</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>State</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
         
                    </div>
                    <div class="form-actions">
                        <div class="card-body">
                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                            <button type="button" class="btn btn-dark">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Row -->
