<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header bg-info">
                <h4 class="m-b-0 text-white"> Room Booking</h4>
            </div>
            <form action="#">
                <div class="card-body">
                    <h4 class="card-title">Person Info</h4>
                </div>
                <hr>
                <div class="form-body">
                    <div class="card-body">
                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">First Name</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="John doe">
                                    </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Last Name</label>
                                    <input type="text" id="lastName" class="form-control "
                                        placeholder="doe">
                                    </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->

                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Phone Number</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="+20456 xxxx xxx">
                                    </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <input type="text" id="lastName" class="form-control "
                                        placeholder="joe@ymail.com">
                                    </div>
                            </div>
                            <!--/span-->
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group has-success">
                                    <label class="control-label">Gender</label>
                                    <select class="form-control custom-select">
                                        <option value="">Male</option>
                                        <option value="">Female</option>
                                    </select>
                                    <small class="form-control-feedback"> Select  gender </small> </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Check Out Day</label>
                                    <input type="date" class="form-control">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Select Room</label>
                                    <select class="form-control custom-select" data-placeholder="Choose a Room"
                                        tabindex="1">
                                        <option value="Room -111">Room 111</option>
                                        <option value="Room -112">Room 112</option>
                                        <option value="Room -113">Room 115</option>
                                        <option value="Room -114">Room 114</option>
                                    </select>
                                    <small class="form-control-feedback"> Select  a Room </small> 
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Romm Category</label>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio11" name="customRadio"
                                            class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio11">VIP</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio22" name="customRadio"
                                            class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio22">Normal</label>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->

                                                <!--/row-->
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Total Days </label>
                                                            <select class="form-control custom-select" data-placeholder="Choose a Category"
                                                                tabindex="1">
                                                                <option value="Room -111">1</option>
                                                                <option value="Room -112">2</option>
                                                                <option value="Room -113">3</option>
                                                                <option value="Room -114">7</option>
                                                                <option value="Room -114">15</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Parking</label>
                                                            <div class="custom-control custom-radio">
                                                                <input type="radio" id="customRadio11" name="customRadio"
                                                                    class="custom-control-input">
                                                                <label class="custom-control-label" for="customRadio11">yes</label>
                                                            </div>
                                                            <div class="custom-control custom-radio">
                                                                <input type="radio" id="customRadio22" name="customRadio"
                                                                    class="custom-control-input">
                                                                <label class="custom-control-label" for="customRadio22">No</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                </div>
                                                <!--/row-->

                        <h4 class="card-title m-t-40">Address</h4>
                    </div>
                    <hr>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="form-group">
                                    <label>Street</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>City</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>State</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Post Code</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Country</label>
                                    <select class="form-control custom-select">
                                        <option>--Select your Country--</option>
                                        <option>India</option>
                                        <option>Sri Lanka</option>
                                        <option>USA</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="card-body">
                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                            <button type="button" class="btn btn-dark">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Row -->