

<!-- Custom Form Validaton Starts -->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header bg-success">
                <h4 class="card-title mb-0 text-white">General Settings</h4>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <form (ngSubmit)="onCustomFormSubmit()" #vform="ngForm">

                        <div class="form-group">
                            <label for="required">Hotel Name</label>
                            <input type="text" class="form-control" ngModel name="required" #required="ngModel" required
                                placeholder="Hotel Name " />
                            

                        </div>

     
   
                        <div class="form-group">
                            <label for="creditCard">Stripe API KEY</label>
                            <input type="text" class="form-control" ngModel name="creditCard" #creditCard="ngModel"
                                placeholder="AFSFFSFSFSFSFFFSF^^&%$$%%%%" creditCard />
                            <small class="form-text text-danger" *ngIf="creditCard.errors?.creditCard">creditCard
                                error</small>
                        </div>

                        <div class="form-group">
                            <label for="maxDate">Date & Year Setup</label>
                            <input type="date" class="form-control" ngModel name="maxDate" #maxDate="ngModel"
                                placeholder="maxDate 2017-11-11" maxDate="2017-11-11" />
                            <small class="form-text text-danger" *ngIf="maxDate.errors?.maxDate">maxDate error</small>
                        </div>
     
     
                        <div class="form-group">
                            <label for="number">Fax Number</label>
                            <input type="text" class="form-control" ngModel name="number" #number="ngModel"
                                placeholder="number" number />
                            <small class="form-text text-danger" *ngIf="number.errors?.number">Fax number </small>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" ngModel name="phone" #phone="ngModel"
                                placeholder="phone" phone />
                            <small class="form-text text-danger" *ngIf="phone.errors?.phone">phone</small>
                        </div>
                        <div class="form-group">
                            <label for="url">Email</label>
                            <input type="text" class="form-control" ngModel name="url" #url="ngModel" placeholder="url"
                                url />
                            <small class="form-text text-danger" *ngIf="url.errors?.url">hotel@ymail.com</small>
                        </div>
                        <div class="form-group">
                            <label for="uuid">Tax id</label>
                            <input type="text" class="form-control" ngModel name="uuid" #uuid="ngModel"
                                placeholder="uuid" uuid />
                            <small class="form-text text-danger" *ngIf="uuid.errors?.uuid">Tax  id</small>
                        </div>
                    </form>
                </div>

                <div class="form-group row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-success btn-raised mr-1">Submit</button>
                        <button type="button" class="btn btn-dark btn-raised">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>